<ul class="todo-list">
  {{yield}}
  {{#each items as |item|}}
    <li class="item id-{{item.id}} {{if item.done "done"}}">
      <label>
        {{input type="checkbox" checked=item.done click=(action "done" item.id)}}
        <span>{{item.name}}</span>
        <small class="item__actions">  
          {{#unless item.done}}
            {{#link-to "todo.edit" item.id}}Edit{{/link-to}} | 
          {{/unless}}
          <a href="#" {{action "delete" item.id}}>Delete</a>
        </small>
      </label>
    </li>
  {{/each}}
</ul>
<button {{action "toggleSelectAll"}}>TOGGLE SELECT ALL</button>
<button {{action "bulkDelete"}}>BULK DELETE</button>